.git
.gitignore
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
storage/*.key
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitkeep
docker/caddy/data
docker/caddy/config
.pytest_cache
__pycache__
*.pyc
venv
.idea
.vscode
